@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.logo h1{
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    font-weight: 800;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 100%;
}
.search-input{
    width: 400px;
    height: 2rem;
    border: 1px solid #000;
    padding: 0 1rem;
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: inherit;
}
.search-input:focus{
    outline: none;
}

.search-btn{
    position: relative;
    left: -60px;
    font-size: 2rem;
    cursor: pointer;
}

.nav-items{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
li{
    cursor: pointer;
}
li:hover{
    color: red;
}
.shopping-cart{
    position: relative;
    top: 5px;
    font-size: 2rem;
    cursor: pointer;
    color: red;
}
span{
    position: absolute;
    top: 5px;
    right: 111px;
    background-color: red;
    color: #fff;
    padding: 0 4px;
    border-radius: 50%;
    font-size: 0.8rem;
}
.home{
    margin-top: 20px;
}
.dropbtn{
    background-color: #4caf50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-left: 20px;
    
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover{
    background-color: #ddd;
}
.dropdown:hover .dropdown-content{
    display: block;
}
