/* Tailwind css */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* -------------------------- */

*{
    background-color: aliceblue;
}

/* ----------nav---------------------------------------- */
.header-nav{
    /* @apply flex flex-row justify-between items-center; */
    padding: 0 2rem;
    height: fit-content;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
    display: flex;
    justify-content: space-between;
}
.header-nav-logo{
    padding: 0.2rem;
    margin-right: 0.2rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: red;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.header-nav-menu{
    display: flex;
    align-items: center;
    gap: 1rem;
}
ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
li{
    cursor: pointer;
}
