/* Tailwind css */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* -------------------------- */

*{
    background-color: aliceblue;
}

/* ----------nav---------------------------------------- */
.header-nav{
    /* @apply flex flex-row justify-between items-center; */
    padding: 0 2rem;
    height: fit-content;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
    display: flex;
    justify-content: space-between;
}
.header-nav-logo{
    /* padding: 0.2rem; */
    margin-right: 0.2rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: red;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
.filter{
    color: black;
    position: relative;
    left: -170px;
}
.header-nav-menu{
    display: flex;
    align-items: center;
    gap: 1rem;
}
ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
li{
    cursor: pointer;
}
.dropbtn{
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 200px;
    position: relative;
    left: -90px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover{
    background-color: #ec6d6d
}

.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown:hover .dropbtn{
    background-color: #3e8e41;
}

.search-bar{
    position: relative;
    top: 60px;
}
.search{
    width: 400px;
    height: 40px;
    border-top: none;
    border-left: none;
    border-right: none;
}
.search:hover{
    border-bottom: 2px solid #ec6d6d;
}
.search:focus{
    outline: none;
    border-bottom: 2px solid #ec6d6d;
}
